<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidijing.mapper.ManagerRolePermissionResourceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aidijing.domain.ManagerRolePermissionResource">
		<id column="id" property="id" />
		<result column="manager_role_id" property="managerRoleId" />
		<result column="manager_permission_resource_id" property="managerPermissionResourceId" />
	</resultMap>

</mapper>
